retroarch/
discord/
spotify/
yay/
**/logs/*
gh/
dconf/
godot/
btop/
Electron/
OSS/
openmw/
vetch/
zellij/
gconf/ 
obsidian/
deluge/
obs-studio/
Mullvad\ VPN/
VirtualBox/
deemix/
deezer-desktop/
go/
gpick/
itch/
libreoffice/
menus/
unity3d/
jellyfin.org/
Code\ -\ OSS/
Deezer/
JetBrains/
VRCX/
GIMP/
inkscape/
Valve\ Corporation/
torbrowser/
whoozle.github.io/
