* {
    border-radius: 4;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 12px;
    min-height: 0;
}

window#waybar {
    background: rgba(249, 169, 241, 0.8);
    color: black;
}

tooltip {
  background: rgba(43, 48, 59, 0.5);
  border: 1px solid rgba(100, 114, 125, 0.5);
}
tooltip label {
  color: white;
}

#workspaces button {
    color: black;
}

#workspaces button.focused {
    background: #64727D;
    border-bottom: 3px solid white;
}

.module {
    background: rgba(250,250,250,0.7);
    border-radius: 20;
    padding: 0px 15px 0px 15px;
    margin: 2px 1px 2px -2px;

}

#mode, #clock, #battery {
}

#mode {
    background: #64727D;
    border-bottom: 3px solid white;
}

#clock {
    background-color: #333;
    color: white;
}

#battery {
    color: black;
}

#battery.charging {
    background-color: #26A65B;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

#battery.warning:not(.charging) {
    background: #f53c3c;
    color: white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
