/* nms@define-color background rgba(171, 22, 0, 0.9); */
/* nms @define-color module rgba(252,117,122,0.8); */ 
/* purple @define-color background rgba(64, 59, 120, 0.9);*/
/* pink @define-color module rgba(142,84,143,0.8); */

/* 
 * arcRed = fd090b
 * arcYellow = fbcf09
 * arcGreen = 2df185
 * arcBlue = 85f0e6
*/ 

@define-color background rgba(253, 9, 11, 1);
@define-color module rgba(186, 11, 6,0.9);
@define-color words #fff;
* {
    border-radius: 4px;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 12px;
    min-height: 0px;
}

window#waybar {
    background: @background;
    color: @words;
}

tooltip {
  background: rgba(43, 48, 59, 0.5);
  border: 1px solid rgba(100, 114, 125, 0.5);
}
tooltip label {
  color: @words;
}

#workspaces button {
    color: @words;
}

#workspaces button.focused {
    background: #64727D;
    border-bottom: 3px solid white;
}

.module {
    background: @module;
    border-radius: 20px;
    padding: 0px 15px 0px 15px;
    margin: 2px 1px 2px -2px;

}

#mode, #clock, #battery {
}

#mode {
    background: #64727D;
    border-bottom: 3px solid white;
}

#clock {
    background-color: #333;
    color:white;
}

#battery {
    padding: 0px 15px 0px 10px;
    color: black;
}

#battery.charging {
    background-color: #26A65B;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

#battery.warning:not(.charging) {
    background: #f53c3c;
    color: @white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
